.naslov{
    color: white;
    font-size: xx-large;

}  
    
    
body{
    background-color: rgb(32, 32, 32);
}

a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    margin: 5px;
    margin-top: 30px;
    background-color: gray;
    padding: 20px;
    border-radius: 7px;
}
a:hover{
    background-color: lightcoral;
}