body{
    background-color: rgb(199, 255, 236);
}

.okvir{
    background-color: aquamarine;
    height: 650px;
    width: 500px;
    position: absolute;
    top: 2%;
    left: 20%;
    border-radius: 20px;
}

.pitanja{
    background-color: rgb(34, 188, 137);
    border-radius: 6px;
    position: absolute;
    height: 350px;
    width: 160px;
    top: 5%;
    
    left: 20%;
    

}

.odgovori{
    background-color: rgb(34, 188, 137);
    border-radius: 6px;
    position: absolute;
    height: 350px;
    width: 120px;
    top: 5%;
    right: 20%;
    

}
 .p{
    padding-top: 9px;
    padding-left: 20%;
    font-size: large;
    font-weight: bold;
    color: white;
    max-width: 100px;
    max-height: 100px       
 }

.p2{
    padding-top: 32px;
    padding-left: 5px;
    font-size: large;
    font-weight: bold;
    color: white;
    max-width: 120px;
    max-height: 100px;}


.unosA{
    position: absolute;
    top: 66%;
    width: 50px;
    left: 3.5%;
    height: 25px;
}
.unosB{
    position: absolute;
    top: 66%;
    width: 50px;
    left: 28%;
    height: 25px;
}
.unosC{
    position: absolute;
    top: 66%;
    width: 50px;
    right: 28%;
    height: 25px;
}
.unosD{
    position: absolute;
    top: 66%;
    width: 50px;
    right: 3.5%;
    height: 25px;
}
.gumbic{
    position: absolute;
    top: 76%;
    left: 44%;
    background-color: lightcoral;
    border-radius: 6px;
    height: 35px;
    width: 70px;
}

.linkzasobu{
    position: absolute;
    top: 83%;
    left: 44%;
    color: black;
    background-color: aquamarine;
    min-width: 80px;
}

.br{
    position: absolute;
    top: 9%;
    left: 16%;
    color: black;
    font-weight: bolder;
}

.br2{
    position: absolute;
    top: 20%;
    left: 16%;
    color: black;
    font-weight: bolder;
}

.br3{
    position: absolute;
    top: 33%;
    left: 16%;
    color: black;
    font-weight: bolder;
}

.br4{
    position: absolute;
    top: 46%;
    left: 16%;
    color: black;
    font-weight: bolder;
}