.lokot{
    max-width: 100px;
    min-height: 200px;
    margin:25px;
  

}
.slikaLokota{
    max-width: 100px;
    max-height: 100px;
}
.input{
    max-width: 15px;
    margin-left: 5px;
    
    
}
.zadatak{
    margin:20px;
    max-width: 200px;
}
.zadatak div{
    max-height: 30px;
    display: flex;
    margin: 15px;
    
}
.zadatak div div{
    
    padding: 5px;
    border: 1px solid black;
    margin: 0;
}
p{
    font-size: x-small;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;

}
.linkzasobu{
    position: absolute;
    bottom: 5%;
    display: flex;
    width: 100px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    
    
}
.gumbic{
    max-width: 80px;
    margin: 5px;
    margin-left: 15px;
}
